[Unit]
Description=Watch the OpenTofu state for changes

[Path]
{% for state in voltius_tofu_states %}
PathChanged={{ state }}
{% endfor %}
Unit=voltius-tofu-state-backup.service

[Install]
WantedBy=multi-user.target
